:local .cb input[type="checkbox"] + label {
    cursor: pointer;
    font-size: 14px;
}
:local .cb [id="checkbox"] + label {
    background-color: #ffffff;
    border: 1px solid #929292;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    border-radius: 1px;
    display: inline-block;
    vertical-align: middle;
}
:local .cb [id="checkbox"] + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
:local .cb [id="checkbox"]:checked + label {
    background-image: url('./selected.png');  
}