:local .inputItem{ 
    height: 54px;
    padding-left: 15px;
    font-size: 14px;
    background-color: #fff;
    display: -webkit-flex; 
    align-items: center;
}
:local .inputItem span{  
    left: 10px;
    padding: 15px 0px 15px 0px;
    line-height: 24px;
    color: #2d2d2d; 
    inline-size: 44px; 
    width: 80px;
}
:local .inputItem input{  
    padding: 8px; 
    border: 0px; 
    line-height: 24px;    
    flex: 1;
    height: 24px;
} 
:local .inputItem div{
    width: 40px;
    height: 100%;
    background-image: url('./close-circled.png');
    background-repeat: no-repeat;
    background-position: center;
}