:local .basePage{
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#eeeeee ;
    height: 100%;
    display: -webkit-flex;
    flex-direction: column;
    z-index: 101;/*这里设置大于100，主要是为能够覆盖antd-mobile的tabbar组件，其z-index为100*/
}
:global .fade-enter { 
    transform: translateX(100%);
  }
  
  :global .fade-enter.fade-enter-active { 
    transform: translateX(0);
    transition: all .3s ease-in;
  }
  
  :global .fade-exit { 
    transform: translateX(0);
  }
  
  :global .fade-exit.fade-exit-active { 
    transform: translateX(100%);
    transition: all .3s ease-out;
  }
   
  :global .fade-appear { 
    transform: translateX(100%);
  }
  :global .fade-appear.fade-appear-active { 
    transform: translateX(0);
    transition: all .3s ease-in;
  }